body {
    font-family: nunito-sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;background-color:#fff;
    color:#333;
    font-size:18px;
    line-height:1.25em;
    font-weight:300;
}

h1,h2,h3,h4,h5,h6{
    font-weight:300;
    text-align:center;
    line-height:1.25}
    
h2 {font-size:2em;
    margin:2.5em 0 1.25em;
    text-align:center
}

h3 {
    font-size:1.5em;
    margin:2em 0 1em;
    text-align:center
}

h4 {
    font-size:1em
}

h5 {
    margin:2.5em 0
}

h6 {
    font-size:1.2em;
    line-height:1.3em;
    margin:1em 0 .5em;
    letter-spacing:.1em;
    margin-bottom:1em;
    text-align:center;
    -webkit-opacity:.3;
    -moz-opacity:.3;
    opacity:.3;
    -webkit-transition:opacity 3s linear;
    -moz-transition:opacity 3s linear;
    -ms-transition:opacity 3s linear;
    -o-transition:opacity 3s linear;
    transition:opacity 3s linear}

h6:hover {
    -webkit-opacity:1;
    -moz-opacity:1;
    opacity:1;
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -ms-transition:all 2s ease;
    -o-transition:all 2s ease;
    transition:all 2s ease
}

h6 strong{
    font-weight:400
}

#logo {
    width:30%;
}